{% extends "layout/main.html" %}

{% block body %}
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <!-- _x -  -->
      <!-- Update the <span> element to use the format_url() filter. As seen in the post-info.html -->
      <!-- <span>({{post.post_url}})</span> -->
      <span>({{post.post_url|format_url}})</span>
    </div>
    <div>
      <!-- _x -  -->
      <!-- Replace "point(s)" with the format_plural('point') filter. As seen in post-info.html -->
      <!-- {{post.vote_count}} point(s) by you on {{post.created_at}} -->
      <!-- _x -  -->
      <!-- now update again to use the format_date() filter. As seen in the post-info.html file -->
      {{post.vote_count}} {{post.vote_count|format_plural('point')}} by you on {{post.created_at|format_date}}
      |
      <!-- _x -  -->
      <!-- Replace "comment(s)" with the format_plural('comment') filter. As seen in the post-info.html file  -->
      <!-- <a href="/post/{{post.id}}">{{post.comments|length}} comment(s)</a> -->
      <a href="/post/{{post.id}}">{{post.comments|length|format_plural('comment')}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{% with comments=post.comments %}
  {% include "partials/comments.html" %}
{% endwith %}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
{% endblock %}